<div id="course-buttons" class="container">
                  <center>
                    <a href="resource"><button type="button" class="btn btn-info my-2 my-md-5">Resource</button></a> &emsp;&emsp;&emsp;&emsp;&emsp;
                    <a href="forum"><button type="button" class="btn btn-info my-2 my-md-5">Forum</button></a>
                  <br>
                    <a href="message"><button type="button" class="btn btn-info my-2 my-md-5">Message</button></a>&emsp;&emsp;&emsp;&emsp;&emsp;
                    <button type="button" class="btn btn-info my-2 my-md-5">Coding Space (still developing)</button>
                    <br><br><br>
                    <a href="https://www.sydney.edu.au/policies/showdoc.aspx?recnum=PDOC2012/254&RendNum=0" target="_blank">Find out Academic Honesty in Coursework Policy</a>
                    </center>
    </div>
