<div id="course-buttons" class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 left-side">
          <p><br /></p>
          <div class="row">
            <a href="forum"><button type = "button" style = "width: 389%; height: 50px"">This is Test</button></a>
              <a href="javascript:void(0)" class="w-100 text-right delete_form_post need_staff" data-msg_id="this_is_a_test">Delete</a>
          </div>
          <p><br /></p>
            <div class="row">
              <a href="forum"><button type = "button" style = "width: 219%; height: 50px"">Question about quiz 1</button></a>
                <a href="javascript:void(0)" class="w-100 text-right delete_form_post need_staff" data-msg_id="">Delete</a>
            </div>
            <p><br /></p>
              <div class="row">
              <a href="announcement_final"><button type = "button" style = "width: 152%; height: 50px"">Announcement about final exam</button></a>
                  <a href="javascript:void(0)" class="w-100 text-right delete_form_post need_staff" data-msg_id="">Delete</a>
              </div>
              <p><br /></p>
                <div class="row">
                  <button type = "button" style = "width: 100%; height: 50px"">About assignment 1</button>
                    <a href="javascript:void(0)" class="w-100 text-right delete_form_post need_staff" data-msg_id="">Delete</a>
                </div>
                <p><br /><br /><br /><br /><br /></p>

              <a href="forum_new_thread"><button type="button" class="btn btn-info my-2 my-md-3" style = "width: 100%">New Thread</button></a>

        </div>
        <div id="this_is_a_test" class="col-lg-4 col-md-6">
            <div class="mt-5 ml-2">
                <h5>This is test</h5>
                <font color="gray"><p>Anonymous<br /><br /></p></font>
                <p>This is Test<br /><br /></p>

                <font color="gray"><p>Admin:<br /></p></font>
                <p>This is test<br /><br /></p>

            </div>


  <p><br /><br /><br /></p>
  Your Answer:<input type="text" style = "width: 200%; height: 80px" id="fname" name="fname"><br><br>
  <a href="forum_answer"><input type="submit" value="Submit">
        </div>
    </div>
</div>
