<div id="course-buttons" class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 left-side">
          <pre><font color="white"><br />Assignment   Quiz   Lecture   Lab   General</font></pre>

              <div class="mt-3 ml-2">
                <h5>Lecture:<br /></h5>
              </div>
              <a href="/img/Lecture1.pdf" download><div class="col"><button type="button" class="btn btn-info my-2 my-md-3">Lecture1.pdf</button></div></a>
              <a href="delete"><div class="col">delete</div></a>
              <a href="/img/Lecture2.pdf" download><div class="col"><button type="button" class="btn btn-info my-2 my-md-3">Lecture2.pdf</button></div></a>
              <a href="delete"><div class="col">delete</div></a>

              <div class="mt-3 ml-2">
                <h5>Assignment:<br /></h5>
              </div>
              <a href="/img/Assignment1.pdf" download><div class="col"><button type="button" class="btn btn-info my-2 my-md-3">Assignment1.pdf</button></div></a>
              <a href="delete"><div class="col">delete</div></a>

              <br />
              <div class="col">
              <input type="file" id="myFile" name="filename">
              <form class="form" action="#" method="POST">
              <input type="submit">
              </form>
              </div>

              <p><br /></p>
              <pre><font color="white"><br /></font></pre>

        </div>

        <div class="col-lg-4 col-md-6">
            <div class="mt-5 ml-2">
                <h5>Upload by students:</h5>
                <a href="/img/Study_Guid1.pdf" download><div class="col"><button type="button" class="btn btn-info my-2 my-md-3">Study_Guid1.pdf</button></div></a>
                <a href="delete"><div class="col">delete</div></a>
                <a href="/img/Study_Guid2.pdf" download><div class="col"><button type="button" class="btn btn-info my-2 my-md-3">Study_Guid2.pdf</button></div></a>
                <a href="delete"><div class="col">delete</div></a>
                <a href="/img/Python_Intro.pdf" download><div class="col"><button type="button" class="btn btn-info my-2 my-md-3">Python_Intro.pdf</button></div></a>
                <a href="info2222_resource_delete"><div class="col">delete</div></a>
                <p><br /></p>

                <pre><font color="white"><br /></font></pre>
            </div>
        </div>
    </div>
</div>
