<div id="main-container" class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 p-5 left-side" id="btn_list">
            <button id="new_message_btn" type="button" class="btn btn-info my-2 my-md-3" style="width: 100%">New Message</button>
            <h5 style="border-bottom: 1px solid;" class="pb-2">Inbox</h5>
            <div id="to_me_message_btns"></div>
            <h5 style="border-bottom: 1px solid;" class="pb-2">Sent</h5>
            <div id="from_me_message_btns"></div>
        </div>
        <div class="col-lg-4 col-md-6 not_in_new_message" style="border-right: 1px solid white;">
            <div id="msg_content" class="mt-5 ml-2 message_wrapper">
                <h5 id="msg_title"></h5>
                <font color="gray"><p id="msg_from_user"></p></font>
                <p id="msg_body"></p>
            </div>

            <div id="replies_wrapper">
            </div>

            <form id="replay_form" class="mt-3">
                Reply:<br><textarea type="text" placeholder="Replies here..." style="width:100%; height: 80px;" id="replay_box"
                                    name="replay"></textarea><br><br>
                <a href="forum_answer"><input type="submit" value="Submit"></a>
            </form>
        </div>

        <div class="col-lg-4 col-md-6 in_new_message d-none" style="border-right: 1px solid white;">
            <div id="send_message_alert" class="mt-5"></div>
            <form id="message_form" action="/message">
              <div class="form-group">
                <label for="">To</label>
                <input type="text" name="to_user" class="form-control" placeholder="">
              </div>
<!--              <div class="form-group">-->
<!--                <label for="">CC:</label>-->
<!--                <input type="email" class="form-control" placeholder="">-->
<!--              </div>-->
              <div class="form-group">
                <label for="">Subject</label>
                <input type="text" name="subject" class="form-control" placeholder="">
              </div>
              <div class="form-group">
                <label for="">Content</label>
                  <textarea type="text" name="body" rows="10" class="form-control" placeholder="Text your email here"></textarea>
              </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success send_message_">Send</button>
                    <button type="button" class="btn btn-warning reset_message">Discard</button>
                </div>
            </form>
        </div>

        <div class="col-lg-4 col-md-6 not_in_new_message">
            <div class="mt-5 ml-2">
                <a href="javascript:void(0)" id="message_delete_btn_"
                   style="text-decoration: underline; color:darkorange;">Delete</a>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 in_new_message d-none">
            <div class="mt-5 ml-2">
                <h5 class="mb-4">Staff's Contact Information</h5>
                <p>To: admin -- Administrator</p>
                <p>To: staff -- Staff A</p>
            </div>
        </div>

    </div>
</div>
<script>
    const _from_me_messages = '${from_me_messages}';
    const _to_me_messages = '${to_me_messages}';
    const _replies = '${replies}';
    var from_me_messages;
    var to_me_messages;
    var replies;
    try {
        from_me_messages = JSON.parse(_from_me_messages);
        to_me_messages = JSON.parse(_to_me_messages);
        replies = JSON.parse(_replies);
    } catch (e) {
        console.log(e);
    }
</script>
