<div id="main-container" class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 left-side" id="btn_list">
            <p><br/></p>
            <div class="row">
                <a href="javascript:void(0)" id="meeting_message_btn" class="message_btn" data-msg_id="meeting_message">
                    <button type="button" class="btn-active" style="width: 378.34px; height: 50px"
                    >Message 2</button></a>
            </div>
            <p><br/></p>
            <div class="row">
                <a href="javascript:void(0)" class="message_btn" data-msg_id="quiz1_message">
                    <button type="button" style="width: 378.34px; height: 50px"
                    >Quiz 1 Grade</button></a>
            </div>
            <p><br/></p>
            <div class="row">
                <a href="javascript:void(0)" class="message_btn" data-msg_id="meeting1_message">
                    <button type="button" style="width: 378.34px; height: 50px"
                    >Meeting 1</button></a>
            </div>
            <p><br/><br/><br></p>
            <div class="row">
                <button type="button" style="width:  378.34px; height: 50px; color: cornflowerblue;"
                onclick="location.href = '/message';"
                >Sent</button>
            </div>
            <p><br/></p>
            <div class="row">
                <button type="button" style="width:  378.34px; height: 50px; color: cornflowerblue;"
                onclick="location.href = '/message';"
                >Draft</button>
            </div>

            <p><br/></p>
            <button id="new_message_btn" type="button" class="btn btn-info my-2 my-md-3" style="width: 100%">New Message</button>

        </div>
        <div class="col-lg-4 col-md-6 not_in_new_message" style="border-right: 1px solid white;">
            <div id="meeting_message" class="mt-5 ml-2 message_wrapper">
                <h5>Meeting 2</h5>
                <font color="gray"><p>Lisa H<br/><br/></p></font>
                <p>Hello Eric, don't forget tomorrow's meeting!<br/><br/></p>

                <font color="gray"><p>Thank you!<br/></p></font>
            </div>

            <div id="quiz1_message" class="mt-5 ml-2 d-none message_wrapper">
                <h5>Quiz 1 Grade</h5>
                <font color="gray"><p>Martin Smith<br/><br/></p></font>
                <p>Hello Eric, your quiz 1 grade report is ready in the uni system.<br/><br/></p>
                <p>
                    For more information please send request to something@usyd.edu.au
                    <br/><br/>
                </p>

                <font color="gray"><p>Thank you!<br/></p></font>
                <font color="gray"><p>Martin<br/></p></font>
            </div>

            <div id="meeting1_message" class="mt-5 ml-2 d-none message_wrapper">
                <h5>Meeting 1</h5>
                <font color="gray"><p>Justin Johnson<br/><br/></p></font>
                <p>Hello Eric, please notice that the meeting 1's time has changed to 1 pm at 03/04/2020.<br/><br/></p>

                <font color="gray"><p>Thank you!<br/></p></font>
                <font color="gray"><p>Justin<br/></p></font>
            </div>


            <p><br/><br/><br/></p>
            Reply:<br><textarea type="text" placeholder="Replies here..." style="width:100%; height: 80px;" id="fname"
                                name="fname"></textarea><br><br>
            <a href="forum_answer"><input type="submit" value="Submit"></a>
        </div>

        <div class="col-lg-4 col-md-6 in_new_message d-none" style="border-right: 1px solid white;">
            <div id="send_message_alert" class="mt-5"></div>
            <form>
              <div class="form-group">
                <label for="">To:</label>
                <input type="email" class="form-control" placeholder="">
              </div>
              <div class="form-group">
                <label for="">CC:</label>
                <input type="email" class="form-control" placeholder="">
              </div>
              <div class="form-group">
                <label for="">Add a Subject</label>
                <input type="text" class="form-control" placeholder="">
              </div>
              <div class="form-group">
                <label for="">Add a Subject</label>
                  <textarea type="text" class="form-control" placeholder="Text your email here"></textarea>
              </div>
                <div class="form-group">
                    <button type="button" class="btn btn-success send_message">Send</button>
                    <button type="button" class="btn btn-warning reset_message">Discard</button>
                </div>
            </form>
        </div>

        <div class="col-lg-4 col-md-6 not_in_new_message">
            <div class="mt-5 ml-2">
                <a href="javascript:void(0)" id="message_delete_btn"
                   style="text-decoration: underline; color:darkorange;">Delete</a>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 in_new_message d-none">
            <div class="mt-5 ml-2">
                <h5 class="mb-4">Staff's Contact Information</h5>
                <p>Sam -- INFO2222 Lecturer</p>
                <p>Alice -- INFO2222 Tutor</p>
                <p>Frank -- INFO2222 TA</p>
                <p>John -- INFO2222 Lecturer</p>
            </div>
        </div>

    </div>
</div>
