
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="js/script_head.js"></script>

  <title>USYD Support</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap4/bootstrap.min.css">
  <!-- Noty CSS -->
  <link href="css/noty.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/temp.css">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="/home">USYD Support</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="active">
              <a class="nav-link" href="/resource">Resource</a>
            </li>
            <pre class="tab">       </pre>
            <li class="active">
              <a class="nav-link" href="/forum">Forum</a>
            </li>
            <pre class="tab">       </pre>
            <li class="active">
              <a class="nav-link" href="/message">Message</a>
            </li>
            <pre class="tab">                     </pre>
              <a class="nav-link" href="/home">Home</a>

              <a class="nav-link" href="/profile">Profile</a>

              <a class="nav-link" href="/logout">Logout</a>

          </ul>
        </div>
      </div>
    </nav>
    <div id="header-breadscrumb" class="container">
        Profile
    </div>









<div id="main-container" class="container">
  <center>
  <div class="mt-5 ml-2">
      <h3 style = "color:#85C1E9">Hello, {{username}}</h3>
      <h6>Current Role: {{user_role}}</h6>
      <br />
  </div>
  <br /><br />
  <a href="#">Reset Password</a>
  <br /><br />
  %if user_role != "user":
  <a href="#">Manage Users</a>
  %end
    </center>
</div>









<div class="d-none" id="user_data" data-user_role="${user_role}" data-user_email="${user_email}"></div>

<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap4/bootstrap.min.js"></script>
<script src="js/noty.min.js" type="text/javascript"></script>
<script src="js/script_tail.js"></script>

</body>
</html>
