<div id="course-buttons" class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6 left-side">
                <div class="row">
                    <div class="col"><button type="button" class="btn btn-info my-2 my-md-5">INFO2222</button></div>
                    <div class="col"><button type="button" class="btn btn-info my-2 my-md-5">ISYS2110</button></div>
                </div>
                <div class="row">
                    <div class="col"><button type="button" class="btn btn-info my-2 my-md-5">COMP2017</button></div>
                    <div class="col"><button type="button" class="btn btn-info my-2 my-md-5">COMP2123</button></div>
                </div>
                <div class="row">
                    <div class="col d-flex flex-column text-center">
                        <h5>Subject Management</h5>
                        <p>Find out Academic Honesty in Coursework Policy</p>
                        <a href="#">Need Help?</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="mt-5 ml-2">
                    <h5>Todo</h5>
                    <p>Info2222 Quiz 1</p>
                    <p>Info2222 Assignment 1</p>
                </div>
            </div>
        </div>
    </div>